html {
  background-color: lightgrey;
}

.board {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;

  align-items: flex-start;

  justify-content: space-evenly;
  padding        : 0;
  list-style-type: none;
  height         : 100%;

}

.name-header {
  text-align: center;
  color     : white;
  padding   : 8px;
}

.name-0 {
  background-color: #8E6E95;
}

.name-1 {
  background-color: #39A59C;
}

.name-2 {
  background-color: #344759;
}

.name-3 {
  background-color: #E8741E;
}

ul {
  padding        : 0;
  list-style-type: none;
}

.card {
  background-color: white;
  margin-bottom   : 8px;
  padding         : 8px;
  word-break      : break-all;

}